
.sheet-container {
    width: 100%;
    height:100%;
    position:absolute;
    top: 0px;
    left: 0px;
    bottom:0px;
    margin: auto;
    margin-top: 0px !important;
    border: 1px solid;
}

.section-footer {
    width: 94.5%;
    position: absolute !important;
    bottom: 30px !important;
}

.inspected-payment-container,
.inspector-container,
.violation-container {
    width: 100% !important;
}

.section {
    margin-top: 5.42cm !important; 
}
@page { size: auto;  margin: 0mm; padding: 0mm;}